@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h1 {
  font-weight: 800;
  font-size: 20px;
}

.ingredient > p {
  font-weight: 800;
}

img {
  width: 50%;
}
h2 {
  font-weight: 800;
}

.icon__pack {
  font-size: 50px;
  margin:20px;
}


.icon__pack > a> .fa{
  margin:20px;
  color:green;

}



